<!DOCTYPE html>
    <html>
        <head>
            <title>Gallery</title>
            <meta charset = "utf-8">
            <link rel = "stylesheet" href = "view/css_reset.css">
            <link rel = "stylesheet" href = "view/style.css">
            <link rel = "stylesheet" href = "view/media_queries.css">
        </head>
        <body>

            <h1>Добро пожаловать в онлайн галерею</h1>

            <div class = "form_send">
                <form action = "upload.php" method="POST" enctype = "multipart/form-data">
                    <input type = "button" class = "button" value = "Выберите файл">
                    <input class = "file" type = "file" name = "upload" >
                    <input class = "submit"type = "submit" name = "submit" value = "Загрузить фотографию">
                    <textarea  class = "comment" name = "comment" maxlength = "200" placeholder = "Напишите комментарий к фотографии"></textarea>
                </form>
            </div>
        </body>
    </html>